In [1]:
import pandas as pd

In [2]:
df = pd.read_csv("Arquivos_CENIPA/ocorrencia_2010_2020.csv", sep=';', parse_dates=['ocorrencia_dia'], dayfirst=True)
df.head(5)

,codigo_ocorrencia,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,40211,INCIDENTE,RIO DE JANEIRO,RJ,****,2010-01-03,12:00:00,0
1,40349,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,****,2010-01-04,17:30:00,0
4,40324,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0

#

In [3]:
#df.loc[1, 'ocorrencia_cidade']
#df.loc[:,'ocorrencia_classificacao']
#df.loc[1:3]

#esta função pode ser combinada para setar valores ex df.loc[1] = ''

In [4]:
df.codigo_ocorrencia.is_unique

True

In [5]:
df.set_index(['codigo_ocorrencia'], inplace=True)

In [6]:
df.loc[40349]
df.reset_index(drop=True, inplace=True)  #reseta ao indice original

# Lidando com alterações nas colunas

In [7]:
df['Backup_uf'] = df.ocorrencia_uf
df.loc[df.ocorrencia_uf == 'SP', ['ocorrencia_classificacao']] = 'GRAVE'

In [8]:
df.loc[df.ocorrencia_uf == 'SP']

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes,Backup_uf
11,40069,GRAVE,SÃO PAULO,SP,SBMT,2010-01-10,14:50:00,8,SP
16,39809,GRAVE,SÃO PAULO,SP,****,2010-01-15,15:00:00,0,SP
18,39828,GRAVE,SANTOS,SP,****,2010-01-15,17:45:00,0,SP
26,39847,GRAVE,SOROCABA,SP,****,2010-01-20,13:10:00,0,SP
27,39768,GRAVE,CAMPINAS,SP,****,2010-01-21,20:45:00,0,SP
...,...,...,...,...,...,...,...,...,...
5704,79739,GRAVE,SÃO PAULO,SP,SBSP,2020-12-03,14:42:00,0,SP
5705,79705,GRAVE,SOROCABA,SP,SDCO,2020-12-04,15:30:00,0,SP
5715,79718,GRAVE,SÃO PAULO,SP,SBMT,2020-12-11,13:50:00,0,SP
5742,79800,GRAVE,SÃO PAULO,SP,SBMT,2020-12-28,10:15:00,0,SP
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0,SP

# Limpeza das colunas

In [9]:
df.loc[df.ocorrencia_uf == '***', ['ocorrencia_uf']] = pd.NA
df.loc[df.ocorrencia_aerodromo == '****', ['ocorrencia_aerodromo']] = pd.NA
df.loc[df.ocorrencia_aerodromo == '*****', ['ocorrencia_aerodromo']] = pd.NA
df.loc[df.ocorrencia_aerodromo == '###!', ['ocorrencia_aerodromo']] = pd.NA
df.loc[df.ocorrencia_aerodromo == '####', ['ocorrencia_aerodromo']] = pd.NA
df.loc[df.ocorrencia_hora == 'NULL', ['ocorrencia_hora']] = pd.NA
#trata a tabela toda
df.replace(['**','###!','####','****','*****','NULL'], pd.NA, inplace=True)

In [10]:
df.isna().sum()
#df.isnull().sum() #conta nulos

codigo_ocorrencia2             0
ocorrencia_classificacao       0
ocorrencia_cidade              0
ocorrencia_uf                  1
ocorrencia_aerodromo        2349
ocorrencia_dia                 0
ocorrencia_hora                1
total_recomendacoes            0
Backup_uf                      0
dtype: int64

In [11]:
#especifica coluna a ser preenchida
df.fillna(value={'total_recomendacoes':0}, inplace=True)

# Apaga coluna de Backup

In [12]:
df.drop(['Backup_uf'], axis=1, inplace=True) #axis 1 espcifica que queremos apagar a coluna (axis 0=linha axis 1=coluna)

In [14]:
df.drop_duplicates()

,codigo_ocorrencia2,ocorrencia_classificacao,ocorrencia_cidade,ocorrencia_uf,ocorrencia_aerodromo,ocorrencia_dia,ocorrencia_hora,total_recomendacoes
0,40211,INCIDENTE,RIO DE JANEIRO,RJ,<NA>,2010-01-03,12:00:00,0
1,40349,INCIDENTE,BELÉM,PA,SBBE,2010-01-03,11:05:00,0
2,40351,INCIDENTE,RIO DE JANEIRO,RJ,SBRJ,2010-01-03,03:00:00,0
3,39527,ACIDENTE,LUCAS DO RIO VERDE,MT,<NA>,2010-01-04,17:30:00,0
4,40324,INCIDENTE,PELOTAS,RS,SBPK,2010-01-05,19:25:00,0
...,...,...,...,...,...,...,...,...
5747,79804,GRAVE,CAMPINAS,SP,SBKP,2020-12-29,19:00:00,0
5748,79757,INCIDENTE GRAVE,LAGOA DA CONFUSÃO,TO,<NA>,2020-12-30,18:30:00,0
5749,79802,INCIDENTE,RIO DE JANEIRO,RJ,SBGL,2020-12-30,00:54:00,0
5750,79756,INCIDENTE GRAVE,VICENTINA,MS,<NA>,2020-12-31,09:00:00,0
5751,79844,INCIDENTE,RIO DE JANEIRO,RJ,SBJR,2020-12-31,13:24:00,0